@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,500,600,700&display=swap");

body,
html {
  background-color: #eee;
  font-family: "Noto Serif JP", serif;
  margin: auto;
  max-width: 900px;
}
ul{
  list-style-type: square;
}
.about--title{
  margin-bottom: 0;
  font-size: 3.5em;
}
.about--desc{
  margin: 0.5em 0;
  font-style: italic;
  font-size: 1.7em;
}
.section--title{
  font-size: 1.5em;
  font-style: italic;
  margin: 1em 0 0 0;
}
.contact--item {
  padding: 0 1em;
  color: #000;
  border: solid 1px #000;
  border-width: 0 0 0 1px;
}
.contact--item:first-of-type{
  padding: 0 1em 0 0;
  border-width: 0;
}
.passion--item{
  margin: 0.75em 0;
  font-size: 1.1em;
  line-height: 1em;
}
.portfolio--link_wrapper{
  padding: 0.5em 0;
}
.portfolio--item{
  margin: 0 0 1em 0;
}
.portfolio--item-title{
  color: #000;
  font-size: 1.2em;
  font-weight: 600;
}
.portfolio--item-desc{
  margin: 0.2em 0;
  color: #222;
}
.portfolio--item-link_container{
  display: flex;

}
.portfolio--item-repo_link{
  margin: auto 0 0 0 ;
  color: #000;
  font-weight: 400;
}
.portfolio--item-dependencies{
  margin: 0 0.5em;
  display: flex;
}
.portfolio--item-dependecy{
  margin: auto 0.2em 0.2em 0.2em;
  display: inline;
  font-size: 1em;
  line-height: 1em;
  color: #444;
}